<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unb.cic.reminders2"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Reminder" >
        <activity
            //#if (fixedDate) && !manageCategory && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddate.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && staticCategory) && !manageCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatestaticcategory.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && manageCategory) && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategory.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && manageCategory && priority) && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatepriority.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && priority) && !manageCategory && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategorypriority.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && googleCalendar) && !manageCategory && !staticCategory && !dateRange && !priority && !search
            android:name="reminder.basefixeddategooglecalendar.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (fixedDate && manageCategory && priority && googleCalendar) && !staticCategory && !dateRange && !search
            android:name="reminder.basefixeddatemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.ReminderMainActivity"

            //#elif (dateRange) && !manageCategory && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterange.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && staticCategory) && !manageCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangestaticcategory.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && manageCategory) && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategory.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && manageCategory && priority) && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangepriority.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && priority) && !manageCategory && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategorypriority.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && googleCalendar) && !manageCategory && !staticCategory && !fixedDate && !priority && !search
            android:name="reminder.basedaterangegooglecalendar.br.unb.cic.reminders.ReminderMainActivity"
            //#elif (dateRange && manageCategory && priority && googleCalendar) && !staticCategory && !fixedDate && !search
            android:name="reminder.basedaterangemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.ReminderMainActivity"
            //#endif
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            //#if (fixedDate) && !manageCategory && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddate.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && staticCategory) && !manageCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatestaticcategory.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && manageCategory) && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategory.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && manageCategory && priority) && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatepriority.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && priority) && !manageCategory && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategorypriority.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && googleCalendar) && !manageCategory && !staticCategory && !dateRange && !priority && !search
            android:name="reminder.basefixeddategooglecalendar.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (fixedDate && manageCategory && priority && googleCalendar) && !staticCategory && !dateRange && !search
            android:name="reminder.basefixeddatemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.AddReminderActivity"

            //#elif (dateRange) && !manageCategory && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterange.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && staticCategory) && !manageCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangestaticcategory.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && manageCategory) && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategory.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && manageCategory && priority) && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangepriority.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && priority) && !manageCategory && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategorypriority.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && googleCalendar) && !manageCategory && !staticCategory && !fixedDate && !priority && !search
            android:name="reminder.basedaterangegooglecalendar.br.unb.cic.reminders.view.AddReminderActivity"
            //#elif (dateRange && manageCategory && priority && googleCalendar) && !staticCategory && !fixedDate && !search
            android:name="reminder.basedaterangemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.AddReminderActivity"
            //#endif
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_add"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            //#if (fixedDate) && !manageCategory && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddate.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && staticCategory) && !manageCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatestaticcategory.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && manageCategory) && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategory.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && manageCategory && priority) && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatepriority.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && priority) && !manageCategory && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategorypriority.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && googleCalendar) && !manageCategory && !staticCategory && !dateRange && !priority && !search
            android:name="reminder.basefixeddategooglecalendar.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (fixedDate && manageCategory && priority && googleCalendar) && !staticCategory && !dateRange && !search
            android:name="reminder.basefixeddatemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.EditReminderActivity"

            //#elif (dateRange) && !manageCategory && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterange.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && staticCategory) && !manageCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangestaticcategory.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && manageCategory) && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategory.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && manageCategory && priority) && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangepriority.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && priority) && !manageCategory && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategorypriority.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && googleCalendar) && !manageCategory && !staticCategory && !fixedDate && !priority && !search
            android:name="reminder.basedaterangegooglecalendar.br.unb.cic.reminders.view.EditReminderActivity"
            //#elif (dateRange && manageCategory && priority && googleCalendar) && !staticCategory && !fixedDate && !search
            android:name="reminder.basedaterangemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.EditReminderActivity"
            //#endif
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_edit"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            //#if (fixedDate) && !manageCategory && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddate.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && staticCategory) && !manageCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatestaticcategory.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && manageCategory) && !staticCategory && !priority && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategory.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && manageCategory && priority) && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatepriority.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && priority) && !manageCategory && !staticCategory && !dateRange && !googleCalendar && !search
            android:name="reminder.basefixeddatemanagecategorypriority.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && googleCalendar) && !manageCategory && !staticCategory && !dateRange && !priority && !search
            android:name="reminder.basefixeddategooglecalendar.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (fixedDate && manageCategory && priority && googleCalendar) && !staticCategory && !dateRange && !search
            android:name="reminder.basefixeddatemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.ExternalAddReminderActivity"

            //#elif (dateRange) && !manageCategory && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterange.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && staticCategory) && !manageCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangestaticcategory.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && manageCategory) && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategory.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && manageCategory && priority) && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangepriority.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && priority) && !manageCategory && !staticCategory && !fixedDate && !googleCalendar && !search
            android:name="reminder.basedaterangemanagecategorypriority.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && googleCalendar) && !manageCategory && !staticCategory && !fixedDate && !priority && !search
            android:name="reminder.basedaterangegooglecalendar.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#elif (dateRange && manageCategory && priority && googleCalendar) && !staticCategory && !fixedDate && !search
            android:name="reminder.basedaterangemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.view.ExternalAddReminderActivity"
            //#endif
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_edit"
            android:screenOrientation="landscape" >
            <intent-filter>

                //#if (fixedDate) && !manageCategory && !staticCategory && !priority && !dateRange && !googleCalendar && !search
                <action android:name="reminder.basefixeddate.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && staticCategory) && !manageCategory && !priority && !dateRange && !googleCalendar && !search
                <action android:name="reminder.basefixeddatestaticcategory.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && manageCategory) && !staticCategory && !priority && !dateRange && !googleCalendar && !search
                <action android:name="reminder.basefixeddatemanagecategory.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && manageCategory && priority) && !staticCategory && !dateRange && !googleCalendar && !search
                <action android:name="reminder.basefixeddatepriority.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && priority) && !manageCategory && !staticCategory && !dateRange && !googleCalendar && !search
                <action android:name="reminder.basefixeddatemanagecategorypriority.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && googleCalendar) && !manageCategory && !staticCategory && !dateRange && !priority && !search
                <action android:name="reminder.basefixeddategooglecalendar.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (fixedDate && manageCategory && priority && googleCalendar) && !staticCategory && !dateRange && !search
                <action android:name="reminder.basefixeddatemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.ADD_REMINDER" />

                //#elif (dateRange) && !manageCategory && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
                <action android:name="reminder.basedaterange.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && staticCategory) && !manageCategory && !priority && !fixedDate && !googleCalendar && !search
                <action android:name="reminder.basedaterangestaticcategory.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && manageCategory) && !staticCategory && !priority && !fixedDate && !googleCalendar && !search
                <action android:name="reminder.basedaterangemanagecategory.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && manageCategory && priority) && !staticCategory && !fixedDate && !googleCalendar && !search
                <action android:name="reminder.basedaterangepriority.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && priority) && !manageCategory && !staticCategory && !fixedDate && !googleCalendar && !search
                <action android:name="reminder.basedaterangemanagecategorypriority.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && googleCalendar) && !manageCategory && !staticCategory && !fixedDate && !priority && !search
                <action android:name="reminder.basedaterangegooglecalendar.br.unb.cic.reminders.ADD_REMINDER" />
                //#elif (dateRange && manageCategory && priority && googleCalendar) && !staticCategory && !fixedDate && !search
                <action android:name="reminder.basedaterangemanagecategoryprioritygooglecalendar.br.unb.cic.reminders.ADD_REMINDER" />
                //#endif

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
